<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}Congresso de Endocrinologia Diabetes e Nutriçaao - 2022</title>
    <style>
        body {
            font-family: Arial;
        }

        .main {
            margin-left: 20%;
            margin-right: 20%;
        }
    </style>
</head>
<body>
    <div class="main">
        {{ content | safe }}
    </div>
</body>
</html>