<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}Congresso de Endocrinologia Diabetes e Nutriçaao - 2022</title>
    <style>
        body {
            font-family: Arial;
            background-color: #010722;
            background-image: url("assets/images/Saco_bg.jpg");
        }

        footer {
            text-align: center;
            margin-top: 17px;
        }
        img {
            border-radius: 15px;
        }

        .shadow {
            box-shadow: 10px 10px 15px lightblue;
        }

        .main {
            margin-left: 15%;
            margin-right: 15%;
            background-color: antiquewhite;
            opacity: 0.92;
            padding: 20px;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="main shadow">
        {{ content | safe }}
    </div>
    <footer>
        <img src="assets/images/footer.png" alt="Footer">
    </footer>
</body>
</html>