<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}Congresso de Endocrinologia Diabetes e Nutriçaao - 2022</title>
    <style>
        body {
            font-family: Arial;
            background-color: #010722;
        }

        footer {
            text-align: center;
            margin-top: 7px;
        }
        img {
            border-radius: 15px;
        }

        .main {
            margin-left: 20%;
            margin-right: 20%;
            background-color: antiquewhite;
            padding: 20px;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="main">
        {{ content | safe }}
    </div>
    <footer>
        <img src="assets/images/footer.png" alt="Footer">
    </footer>
</body>
</html>