---
layout: layouts/_components/base.njk
---

<div class="mx-auto prose bg-white rounded p-6 max-w-prose">
    {{ content | safe }}
</div>
<!--<div class="rounded roundex-2xl p-3 flex flex-row text-center  place-content-around bg-white color-white hover:shadow hover:shadow-black hover:shadow-lg hover:p-4">-->
<!--    <div></div>-->
<!--    <div></div>-->
<!--    <div class=" hover:shadow hover:shadow-black hover:shadow-2xl hover:p-4" >-->
<!--        <a href="/" title="Pagina inicial"><img width="24" src="/_assets/images/home-icon.svg"></a>-->
<!--    </div>-->
<!--    <div class=" hover:shadow hover:shadow-black hover:shadow-2xl hover:p-4" >-->
<!--        <a href="#top" title="Topo"><img src="/_assets/images/arrow-up-icon.svg"></a>-->
<!--    </div>-->
<!--    <div></div>-->
<!--    <div></div>-->
<!--</div>-->

