---
layout: layouts/program-detail.njk
page_title: "Livro Gaspar Frutuoso | "
---


<div class="text-center mb-8 pb-8">
    <a target="_blank" href="/_assets/images/Livro-GasparFrutuosoeaSaudade.pdf">
        <img class="mx-auto" src="/_assets/images/livro-gaspar-frutuoso-capa-front.png">
        Livro - Gaspar Frutuoso e a Saudade - PDF
    </a>
</div>


<iframe class="mx-auto h-fit border border-4 border-black"
        src="https://www.youtube.com/embed/eSU_-b3LBVA"
        title="rof. Jose Hermano Saraiva - Programa RTP - A Alma e a Gente - Gaspar Fructuoso, Saudades da Terra (Açores)"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

<div class="p-4 text-center">
    <a target="_blank" href="https://www.youtube.com/embed/eSU_-b3LBVA">Video - Prof. Jose Hermano Saraiva </a> - Programa RTP - A Alma e a Gente - Gaspar Fructuoso, Saudades da Terra (Açores) - 13 Nov 2004
    <div class="italic bg-slate-100 p-4 mt-2 text-left border-0 border-slate-400 border-l-8">
        Um excelente contributo do Prof Hermano Saraiva, na divulgação de um Micaelense notável como foi Gaspar Frutuoso!...
    </div>
</div>



<h3 class="mx-auto"> As Minhas Notas </h3>

<div class="prose italic bg-slate-100 p-4 mt-2 text-left border-0 border-slate-400 border-l-8 ">

Apesar de ainda vivermos tempos conturbados e bem difíceis, à conta de uma pandemia que não nos quer dar tréguas, algum otimismo nos vai ajudando a ultrapassar a ansiedade, de nos podermos voltar a encontrar presencialmente, ao fim de 3 anos, nesta ilha paradisíaca, como é S. Miguel, entre 25 e 28 do mês de Outubro de 2022.
<br><br>
A qualidade científica das nossas reuniões, dizemo‐lo com sentido orgulho, não pode deixar de acontecer! O Serviço de Endocrinologia e Nutrição do HDES, tem de manter o prestígio granjeado ao longo destes trinta e cinco anos, é uma obrigação, sem sofismas!
<br><br>
Tivemos que abrir mão da nossa casa, pela impossibilidade de introduzir, no Hospital do Divino Espírito Santo, 400 a 500 participantes, pois os tempos ainda não são suscetíveis de facilitação!...
<br><br>
Neste novo evento Científico, temos mais uma vez oportunidade de divulgar um vulto da História dos Açores, de Portugal e até da Europa, no dizer do Prof Hermano Saraiva ‐ “O Doutor Gaspar Frutuoso, foi um dos grandes escritores do Século XVI, dentre Luís de Camões, Fernão Mendes Pinto, Fernão Lopes Castanheda e João de Barros” ‐ “Escreveu um Livro Notável e tão pouco difundido! Ficou na gaveta dos Jesuítas, até ao Século XIX”!... Tem por título “As Saudades da Terra”.
Um prestigiado Micaelense infelizmente, tão mal conhecido!... Comemora‐se este ano, o 5o Centenário do seu nascimento.
<br><br>
Muito agradecemos, ao Prof Doutor José Luís Brandão da Luz, ter‐nos permitido, também participar destas comemorações, com os seus três ensaios agora republicados, mantendo a nossa sempre vontade de dar a conhecer, todos os valores, deste recanto do paraíso, que são os Açores!...
<br>
<br>
    Bem‐haja Senhor Professor!...
<br><br>
    <div class="text-center">
        O Presidente do Congresso <br>
        (Rui Carlos Correia Dias César)
    </div>

</div>

