---
layout: layouts/_components/base.njk
---
<section class="text-gray-700 text-lg">

    <div class="m-8 pt-4">
            <div class="carousel bg-gray-100 mx-8">
                {% for image in slideshowImages %}
                    <div class="p-2"><img alt="Congresso 2019" src="/slideshow/images/{{ image }}"></div>
                {% endfor %}
            </div>
    </div>

    <div class="grid sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 mt-1">
      {% for homepage_block in collections.homepage | sortByDisplayOrder %}
        <div  class="bg-[url('/_assets/images/bg-homepage.png')] m-2 mt-0 hover:shadow-xl shadow-black shadow-md hover:shadow-black hover:m-3 border border-white rounded-2xl" >
            {% if homepage_block.data.link_target %}
                <a href="{{ homepage_block.data.link_target }}">
            {% endif %}
              <div class="p-4 pt-0 order">
                  {% if homepage_block.data.image %}
                    <img class="order p-3 mx-auto w-fit object-cover object-center" src="/_assets/images/{{ homepage_block.data.image }}" alt="{{ homepage_block.data.title }}" title="{{ homepage_block.data.title }}">
                  {% endif %}
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ homepage_block.data.title }}</h1>
                    <p class="leading-relaxed mb-3">
                        {{ homepage_block.data.content | safe }}
                    </p>
              </div>
            {% if homepage_block.data.link_target %}
                </a>
            {% endif %}
        </div>
      {% endfor %}
    </div>
</section>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/_assets/js/slick.js"></script>

<script>
    $(document).ready(function(){
      $('.carousel').slick({
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        useCSS: true,
      });
    });

</script>
