---
layout: layouts/_components/base.njk
---
<section class="grid sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-3 text-gray-700 text-lg bg-white p-4 rounded rounded-2xl">
      {% for page in programPages %}
          <div class="p-4 pt-0 order program-index">
<!--              <a href="/programa-impresso/pagina/?p={{ page }}">-->
                  <img
                      class="order p-3 mx-auto w-fit object-cover object-center"
                      src="/programa-impresso/images/{{ page }}"
                      alt="Printed program - Page {{ page }}" title="Printed program - Page {{ page }}"
                  >
<!--              </a>-->
          </div>
      {% endfor %}
</section>
