---
layout: layouts/_components/base.njk
---
<div class="mx-auto p-4 text-lg bg-white prose p-4 rounded rounded-2xl">
{{ content | safe }}

    <div class="text-center w-[10%] p-1 mx-auto rounded rounded-2xl shadow-lg shadow-black hover:shadow-black hover:shadow-2xl ">
        <a href="javascript:history.back()">
            <img class="m-4 mx-auto w-[40px]" alt="Program index" title="Program index" src="/_assets/images/icons/return-icon.svg">
        </a>
    </div>
</div>