---
layout: layouts/_components/base.njk
pagination:
    data: programPages
    size: 1
    alias: pagina
permalink: "/programa-impresso/pagina/{{ pagina.pageName | slug }}.html"
---
        <!--    Navigation top -->
        <div class="bg-white p-4 grid grid-cols-3 justify-items-center">
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}">
                    <img class="w-[40px]" src="/_assets/images/icons/left-arrow-icon.svg">
                </a>
            {% else %}
                <div></div>
            {% endif %}
            <a href="/programa-impresso/">
                <img class="w-[40px]" src="/_assets/images/icons/return-icon.svg">
            </a>
            {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}">
                    <img class="w-[40px]" src="/_assets/images/icons/right-arrow-icon.svg">
                </a>
            {% else %}
                <div></div>
            {% endif %}
        </div>

        <!--       Content -->
        <a href="javascript:history.back()">
          <div class="bg-white p-4">
              <img
                  class="w-full mx-auto border border-black rounded rounded-2xl shadow-black shadow-md "
                  src="/programa-impresso/images/{{ pagina.imageFile }}"
                  alt="Printed program - Page {{ pagina.pageName }}" title="Printed program - Page {{ pagina.pageName }}"
              >
          </div>
        </a>

        <!--    navigation bottom -->
        <div class="bg-white p-4 grid grid-cols-3 justify-items-center">
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}">
                    <img class="w-[40px]" src="/_assets/images/icons/left-arrow-icon.svg">
                </a>
            {% else %}
                <div></div>
            {% endif %}
            <a href="/programa-impresso/">
                <img class="w-[40px]" src="/_assets/images/icons/return-icon.svg">
            </a>
            {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}">
                    <img class="w-[40px]" src="/_assets/images/icons/right-arrow-icon.svg">
                </a>
            {% else %}
                <div></div>
            {% endif %}
        </div>
