---
layout: layouts/_components/base.njk
---
<section class="grid grid-cols-3 gap-3 text-gray-700 text-lg bg-white p-4 rounded rounded-2xl">
      {% for speaker in collections.speakers | sortByDisplayOrder %}
          <div class="p-4 pt-0 order program-index">
              {% if speaker.data.image %}
                <img class="order p-3 mx-auto w-fit object-cover object-center" src="_assets/images//{{ homepage_block.data.image }}" alt="{{ speaker.data.title }}" title="{{ speaker.data.title }}">
              {% endif %}
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ speaker.data.title }}</h1>
                <p class="leading-relaxed mb-3">
                    {{ speaker.data.content | safe }}
                </p>
                Intervenções: <br>
                <div class="flex flex-row justify-center">
                    {% for sessao in speaker.data.link_to %}
                        <a class="p-3" href="/programa/{{sessao}}/detail">{{sessao}}</a>
                    {% endfor %}
                </div>
          </div>
      {% endfor %}
</section>
