---
layout: layouts/_components/base.njk
---
<section class="grid sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-3 text-gray-700 text-lg bg-white p-4 rounded rounded-2xl">
    {#
      {% for speaker in speakers %}
        '{{ speaker.speakerDataKey }}':{ <br>
            'location': '', <br>
            'sessions': ['',] <br>
        }, <br>
      {% endfor %}
    #}
      {% for speaker in speakers %}
          <div class="p-4 pt-0 program-index">
              <img class="sm:h-[400px] p-3 mx-auto w-fit object-cover object-center" src="/palestrantes/images/{{ speaker.image }}" alt="{{ speaker.title }}{{ speaker.fullname }}" title="{{ speaker.title }}{{ speaker.fullname }}">
              <div class="m-4 bg-white ">
                  <span class="hidden">speakerDataKey: {{ speaker.speakerDataKey }}</span>
                  <h1 class="bold title-font font-medium text-gray-900">{{ speaker.titleAndName }}<br>{{ speaker.location }}</h1>
                  <div>
                      {% for session in speaker.sessions %}
                          <div class="mt-3">
                            <a class="bold" href="/programa/{{ session[3] }}">{{ session[0] }}</a>
                             - {{ session[1] }}
                          </div>
                          <a class="p-3 underline" href="/programa/{{ session[3] }}">{{ session[2] }}</a>
                      {% endfor %}
                  </div>
              </div>
          </div>
      {% endfor %}
</section>
